@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    align-items: center;
    place-content: center;
    justify-items: center;
    text-transform: uppercase;
    background: #6E7C82;
}

h1{
    font-size: 55px;
    letter-spacing: 1px;
}
.btn, .copy{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background: transparent;
    padding: 15px 25px;
    border: 1px solid #000;
    border-radius: 5px;
}
.copy{
    margin-left: 30px;
}
.btn:hover, .copy:hover{
    background: #000;
    color: #fff;
}
span{
    background-color: #fff;
    padding: 15px 25px 15px 25px;
    font-weight: 700;
}
.pop-up{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 180px;
    background: #fff;
    text-transform: capitalize;
    font-size: 18px !important;
    padding: 15px 20px;
    font-weight: lighter;
    transform: translateY(50%);
    opacity: 0;
}